<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="./templates/index.html">Home</a></li>
            <li><a href="./templates/projects.html">Projects</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <p>Management Control Analyst | Data Enthusiast</p>
    </header>
    <section>
        <h2>About Me</h2>
        <p>With 4 years of experience in the real estate development sector, I specialize in data analysis and management control. Seeking a Data Analyst role at the mid-level.</p>
    </section>
</body>
</html>